.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin: 92px 24px 96px;
  font-weight: normal;
  font-size: 18px;
}

.header__menu {
  grid-column: span 1;
  justify-self: end;
  align-self: center;
  margin-top: 3px;
  margin-right: 3px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
}

.links-list-item_no-bullit {
  list-style: none;
}

.header__link,
.link-address,
.lots__look-more-link,
.footer__menu-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.header__link_active,
.footer__menu-link_active {
  border-bottom: 0;
}

.header__logo {
  width: 148px;
  height: 105px;
  margin: auto;
}

.header__logo-image {
  height: 100%;
}

.header__address {
  grid-column: span 1;
  justify-self: end;
  align-self: end;
  margin-right: 63px;
  margin-bottom: 2px;
}

.address {
  font-style: normal;
  line-height: 135%;
}

.cover {
  position: relative;
  z-index: 0;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: 51%;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 2;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 135px;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text_center {
  align-self: center;
  line-height: 100%;
}

.aligned-text_right {
  align-self: end;
  line-height: 100%;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 51px 78px;
}

.cover__description-subtitle {
  font-weight: normal;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  word-spacing: 0.9em;
}

.word-spacing-decreased {
  word-spacing: 0.82em;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid currentColor;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 179px 24px 146px;
}

.lots__heading,
.about__title {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  color: #fff;
}

.lots__card-list-item {
  max-width: 334px;
  min-height: 563px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 50px 40px 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-link {
  position: relative;
  z-index: 0;
  height: 100%;
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
}

.card-type-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 29px;
  margin-left: 40px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 0px 24px 181px;
}

.about__logo-column {
  display: flex;
  grid-column: span 1;
  justify-self: center;
  width: 240px;
  height: 240px;
  margin-top: 36px;
  border-radius: 100%;
  background-color: #000;
}

.about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
  margin: auto;
}

.about__article {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  justify-content: start;
  gap: 100px;
}

.about__title {
  margin-top: 136px;
}

.about__article-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px 50px 88px;
  font-weight: normal;
  font-size: 18px;
}

.footer__menu {
  grid-column-start: 2;
  grid-column-end: span 1;
}

.footer__menu-list-item {
  display: flex;
  justify-content: center;
}

.footer__social-list {
  display: flex;
  grid-column-start: 3;
  grid-column-end: span 1;
  justify-self: end;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

.cover__title-letter-spacing-extended {
  letter-spacing: 0.6em;
}

.cover__description-letter-spacing-extended {
  letter-spacing: 1.1em;
}

.card__text-ellipsis-letter-spacing-extended {
  letter-spacing: 0.13em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.letter-spacing-xs {
  letter-spacing: -0.01em;
}

.letter-spacing-s {
  letter-spacing: 0.01em;
}

.letter-spacing-m {
  letter-spacing: 0.02em;
}

.letter-spacing-l {
  letter-spacing: 0.03em;
}

.letter-spacing-xl {
  letter-spacing: 0.04em;
}